PORT=8002
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/polaris?retryWrites=true&w=majority
JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
CLIENT_URL=http://localhost:5173
NODE_ENV=development
